# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
matplotlib
numpy
pandas
python==3.9.0
scikit-learn
scipy
streamlit
tensorflow==2.6.0
tensorboard
tensorflow-datasets
tensorflow-recommenders

